In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://postgres@localhost:5432/mombasani')

In [3]:
tweets = pd.read_sql('SELECT * FROM tweets', engine)

In [4]:
tweets

,id,tweet_id,tweet_text,added_at
0,1,1255295001153753088,Test Mombasa ðŸ¤¯,2020-04-29 03:37:10.413124
1,2,1255295380528476161,RT @WolowitzGideon: REVOLUTIONARIES are commit...,2020-04-29 03:38:40.934127
2,3,1255296178280955906,RT @HassanAliJoho: Mombasa County #COVID19 Tre...,2020-04-29 03:41:51.192880
3,4,1255297595624357888,RT @HassanAliJoho: Mombasa County #COVID19 Tre...,2020-04-29 03:47:28.985965
4,5,1255298771887558659,RT @MigunaMiguna: After Despot Uhuru Kenyatta ...,2020-04-29 03:52:09.487508
...,...,...,...,...
197,198,1255466863766704129,RT @willy_kibali: @MsetoEA @josephnjane1 @Sana...,2020-04-29 15:00:05.689640
198,199,1255466874382487552,RT @willy_kibali: @MsetoEA @josephnjane1 @Sana...,2020-04-29 15:00:08.174624
199,200,1255466881802285059,@kenya_chamber Good afternoon. What time does ...,2020-04-29 15:00:09.990771
200,201,1255466884654391302,"@lindahoguttu I supply and fix granite tops, h...",2020-04-29 15:00:10.810104
201,202,1265188028332548096,The people who are sponsoring #RutoTheWifeBeat...,2020-05-26 10:48:32.379821